body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 229, 179);
    font-family: 'Courier New';
}
.container{
 background-color: rgba(130, 138, 145, 0.3) ;
 padding: 28px;
 border-radius: 10px;
 box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
 margin: 10px;
 width: 90%;
 max-width: 450px;
 text-align: center;
 font-size: 18px;
 font-weight: 500;
}
.heading{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;

}
.input{
    height: 53px;
    width: 300px;
    background-color: rgba(153, 251, 6, 0.3);
    border-color: rgb(14, 13, 13,.4);
    font-size: 16px;
    padding: 0 42px;
    border-radius: 10px;
    
}
.meaning-container{
    display: none;
}